.flex {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  position: relative;

  &__inner {
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
  }

  &__item {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    border-radius: 5px;
    overflow: hidden;
  }

  &__item_inner {

  }

  &__item_bg {
    position: absolute;
    background: rgba(0, 0, 0, 0.85);
  }

  &__item.blur {
    /*filter: blur(2px);
    background-image: url(http://rcysl.com/wp-content/uploads/2016/12/Blur-Images-in-HD-Resolution.jpg);*/
  }

  &__item_cn {
    width: 100%;
    height: 100%;
  }

  &__item.element {
    cursor: pointer;
  }
}

html, body, #root {
  overflow: scroll;
}