
html, body {
    font-family: 'Open sans';
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.layout {
    height: 100%;
    display: flex;
    flex-flow: column;
    overflow: auto;
}

.cn-container {
    width: 560px;
    margin: 35px auto;
}

.cn-container.cn-container-mobile, .cn-container.cn-container-mob {
     width: 100%;
     padding-left: 10px;
     padding-right: 10px;
 }

.cn-container-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.cn-container.cn-container-mobile .cn-container-inner {
    display: block;
}

.pf-container{
    width: 1025px;
    height: 100%;
    margin: 28px auto 0;
}

.pf-container-left {
    width: 190px;
    margin-right: 30px;
}

.pf-container-right {
    height: 100%;
}

.pf-container-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.cn-container-left {
    width: 190px;
    margin-right: 30px;
}

.cn-container.cn-container-mobile .cn-container-left {
    width: 100%;
    margin-right: 0;
}

.cn-container.cn-container-mob .cn-container-left {
    width: 150px;
    min-width: 150px!important;
    margin-right: 10px;
}

.cn-container.cn-container-mobile .cn-container-right {
    padding-top: 5px;
}


.no-select {
    user-select: none;
}

/* pre-built style */
.ui-sortable {
    display: block;
    position: relative;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.ui-sortable:before,
.ui-sortable:after{
    content: " ";
    display: table;
}

.ui-sortable:after{
    clear: both;
}

.ui-sortable .ui-sortable-item {
    float: left;
    cursor: move;
}

.ui-sortable .ui-sortable-item.ui-sortable-dragging {
    position: absolute;
    z-index: 1688;
}

.ui-sortable .ui-sortable-placeholder {
    display: none;
}

.ui-sortable .ui-sortable-placeholder.visible {
    display: block;
    z-index: -1;
}

.no-cursor {
    cursor: default!important;
}
