@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

.bs {
  width: 100%;
  height: 100%;
  /*background: black;*/
  font-family: Calibri, sans-serif;

  a {
    text-decoration: none;
  }

  &__inner {
    height: 100%;
    width: 100%;
  }

  &__feed {
    margin: 0 auto;
    height: 100%;
    width: 600px;
    /*border-left: 1px solid #e5e1e3;
    border-right: 1px solid #e5e1e3;*/
    padding-top: 50px;
  }

  &__feed_list {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__feed_item {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 70px 0px;
    height: 336px;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
  }

  &__feed_inner {
    height: 100%;
    width: 100%;
  }

  &__site {
    background-image: url(http://a.espncdn.com/redesign/assets/img/logos/logo-espn-82x20.png);
    background-size: 82px 20px;
    width: 88px;
    background-position: center center;
    background-repeat: no-repeat;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
    display: block;
    height: 44px;
    margin-left: 10px;
    position: relative;
  }

}


.fd {

  &__logo {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/BuzzFeed.svg/799px-BuzzFeed.svg.png');
    height: 15px;
    width: 80px;
    background-size: 100%;
    position: absolute;
    z-index: 100;
    top: 10px;
    left: 10px;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(1,3,5,0.73) 57%,rgba(0,0,0,0.74) 59%,rgba(0,0,0,1) 100%);
    z-index: 5;
  }

  &__slider {
    width:  150px;
    height: 150px;
    border-radius: 10px;
    position: absolute;
    z-index: 10;
    right: 50px;
    top: 50%;
    margin-top: -75px;
    overflow: hidden;
    background: red;
  }

  &__buy {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    text-decoration: none!important;
    vertical-align: middle;
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    display: block;
    font-size: 13px;
    line-height: 29px;
    margin: 0;
    outline: 0;
    padding: 0 10px 0 11px;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    z-index: 50;
    bottom: 25px;
    left: 25px;
  }

  &__data {
    position: absolute;
    z-index: 50;
    bottom: 60px;
    left: 25px;
    background: rgba(0, 0, 0, 0.71);
    padding: 5px;
    color: white;
  }

  &__price {
    font-size: 34px;
  }

  &__title {
    font-size: 12px;
    line-height: 14px;
  }

  &__buy_icon {
    background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-sprite_1x-4424f4f4dd8ca9a98584abfc3b833ba8f12eb36a._V2_.png);
    -webkit-background-size: 400px 700px;
    background-size: 400px 700px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    height: 25px;
    width: 25px;
    background-position: -35px -5px;
    position: absolute;
    top:2px;
    left:2px;
  }

  &__buy > span {
    margin-left: 50px;
    margin-right: 35px;
  }

  &__layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}


.container_youtube {
  position: relative;
  width: 300px;
  margin: 2em auto;
  text-align: center;

}

.container_youtube p {
  font-family: 'Teko', sans-serif;
  font-size: 100px;
  z-index: 1;
  color: #282828;

}

.container_youtube .after {
  top: 12%;
  left: 43%;
  width: 52%;
  height: 65%;
  background: #FF0000;
  border-radius: 25px / 25px;
  z-index: 1;
  /* 	animation: mv 1s linear forwards; */

}

span.after, span.before{
  position: absolute;
  z-index: -1;

}

.container_youtube span.tube {
  color: #FFF;
  margin-left: 10px;

  /* 	animation: textcolor 0.30s linear forwards; */
}
@keyframes textcolor {
  100%  {color: #282828;}}

.container_youtube span.before {
  background: #FF0000;
  top: 32.5%;
  left: -20%;
  border: 18px solid transparent;
  border-left: 30px solid #FFFFFF;
  z-index: 33;
  color: #FFFFFF;
  visibility: hidden;
  /* 	animation: visibilityBefore 1s linear 0.85s forwards; */

}

@keyframes mv {
  10%{transform: translatex(-10px);}
  50%{transform: translatex(-50px);}
  100% {
    top: 23%;
    width: 100px;
    height: 65px;
    border-radius: 15px / 20px;
    transform: translatex(-230px);
    z-index: 2;
  }}

@keyframes visibilityBefore {
  100%  {visibility: visible;}}


.container_youtube:hover{cursor: pointer;}
.container_youtube:hover span.tube{
  animation: textcolor 0.30s linear forwards;
  margin-left: 0;
}

.container_youtube:hover span.before{
  animation: visibilityBefore 0.4s linear .25s forwards;
}

.container_youtube:hover span.after{
  animation: mv 0.25s linear forwards;
}